hmtl,
body {
    margin: 0;
    padding: 0;

}

* {
    font-family: montserrat;
    font-size: 16px;
}

main {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    border: 000 solid 1px;
}

.conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 896px;
    height: 626px;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    margin: 189px 272px 209px 272px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#logo {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 120px;
    height: 104px;
    padding-bottom: 61px;
}

a {
    grid-row-start: 5;
    grid-column-start: 2;
    margin: 0 150px 0 0;
    color: #4AD395;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;

}

a:hover {
    color: #318f65;
}

/* botoes=============================== */
#login {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    width: 271px;
    height: 49px;
    color: #FFFFFF;
    background: #4AD395;
    border: 1px solid #4AD395;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 129px;
    font-weight: 600;
}

#cadastro {

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    width: 199px;
    height: 49px;
    background: rgba(229, 229, 229, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 5px;
    color: #777777;
    margin-left: 220px;
    margin-bottom: 44px;
    font-weight: 400;
}

#ja-cadastrado {

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    width: 199px;
    height: 49px;
    color: #FFFFFF;
    background: #4AD395;
    border: 1px solid #4AD395;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 220px;
    margin-bottom: 44px;
    font-weight: 600;
}

.button:hover {
    opacity: 80%;
}

#viewer {
    margin-left: 160px;
}



/*Campos=========================================  */
#senha-campo {
    border: none;
    outline-style: none;
    width: 50%;
    font-size: 13px;
    opacity: 80%;

}

#user-campo {
    border: none;
    outline-style: none;

}

.usuario {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    width: 418px;
    height: 49px;
    margin-bottom: 36px;
    color: #777777;
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid #4AD395;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 19px;
    font-weight: 400;
}

.senha {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    width: 418px;
    height: 49px;
    color: #777777;
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid rgba(119, 119, 119, 0.3);
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 19px;
    font-weight: 400;

}

.input-icon {
    height: 20px;
    width: 16px;
    padding-right: 10px;
}

/* configs recupera-senha  */

#email-campo {
    border: none;
    outline-style: none;
    width: 90%;
}

.button-rec {

    grid-row-start: 4;
}

#envia {
    width: 197px;
    height: 49px;
    color: #FFFFFF;
    background: #4AD395;
    border: 1px solid #4AD395;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 600;
    margin-right: 220px;
}

#voltar {
    width: 199px;
    height: 49px;
    background: rgba(229, 229, 229, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 5px;
    color: #777777;
    margin-left: 220px;

    font-weight: 400;
}

/* Text configs */
.text {
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    align-items: center;

}

.text>p {
    font-weight: 400;
    color: #777777;

}

.text>h1 {
    font-family: montserrat;
    font-weight: 600;
    color: #777777;
}

/* Config nova-senha */
.senha2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    width: 418px;
    height: 49px;
    color: #777777;
    background: rgba(255, 255, 255, 0.65);
    border: 1px solid rgba(119, 119, 119, 0.3);
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 19px;
    font-weight: 400;

}

/* coloca os icone de ver a senha no local certo e não corta 
a descrição dentro dos campos */
#viewer-novs {
    padding-left: 130px;
}

label {
    color: #777777;
    font-weight: 600;
    padding-left: 200px;

}